# Ignore all .png files
*.png

# Ignore all .jpg files
*.jpg

# Ignore all .fits files
*.fits

# ignore all .pth files
*.pth

# Ignore al .pyc files
*.pyc 

# Ignore the images folder
images/

# Ignore the experiments folder
experiments/

# Ignore logs folder
logs/ 

wandb/